.nav
{
    background-color: #563d7c;
}   
.text
{
    color: white;
    margin-left: 10px;
}

a{
    font-size: 20px;
    text-decoration: none;
}   

.add
{
    margin-right: 10px;
}
body
{
 overflow: hidden;
}