.btn
{
    margin: auto;
    margin-top: 17px;
    margin-left: 36%;
    border-radius: 4px;
    background-color: #222;
    color: #fff;
}
.img
{
    padding: 20px;
    border: #563d7c;
    border-radius: 3px;
}
.card
{
    width: 22rem;
    margin-left: 33%;
    margin-top: 5%;
    background-color:#f7f7f9;
    border-color: #705c8f;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.btn-close
{
    float: right;
}
.row
{
    margin-left: 15px;
}
